<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>🎮</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>FUNventory<br/>
        Made in 2023 by <a href="" target="_blank">Annie Kuxa</a><br/>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
