<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<div class="grid-wrapper">
  <div class="grid-content">
    <div class="container">
      <h1>All our gamers here!</h1>
      <ul class="custom-list">
        <% users.forEach(user => { %>
          <li>
            <%= user.profile.name %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <%- include('../partials/footer') %>
</div>
