/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #4f4f52;
  line-height: 1.5;
}


nav {
  background: #FE7880;
  background-image: linear-gradient(#F38BD3, #FE7880);
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  min-height: 60px;
}

nav > a {
  margin: 8px 24px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 48px;
  width: 180px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  background:#FE7880;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 20px 0;
  margin-top: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.small-button {
  height: 26px;
  width: 100px;
}


button:hover {
  background-image: linear-gradient(to top, #F38BD3, #FE7880);
  border-color: transparent;
}

button:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
}

.styled-element {
  height: 32px;
  width: 180px;
  text-align: center;
  color: #636366;
  font-size: 1rem;
  font-weight: 200;
  background: #FFF;
  border: 1px solid #FE7880;
  border-radius: 4px;
  margin: 20px 0;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.styled-element:hover {
  background-color: rgba(254, 120, 128, 0.3);
  border-color: transparent;
  transition: all 0.3s ease;
}

.small-select {
  width: 100px;
  height: 26px;
}

footer {
  background: #FE7880;
  background: #F38BD3;
  background-image: linear-gradient(#FE7880, #F38BD3);
  padding-bottom: 80px;
}

footer p {
  color: #fff;
}

.table-cell {
  padding-top: 8px;
  padding-right: 60px;
  padding-bottom: 8px; 
  padding-left: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.grid-content {
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background: #D6D6D8;
  margin: 80px 0;
}

input[type="text"],
select {
  height: 32px;
  width: 180px;
}

.status-label {
  margin-top: -50px;
  margin-bottom: 40px;
}

.status-select {
  margin-left: 49px;
}

.status-and-review {
  margin-top: -20px;
  margin-left: 3px;
}

#content-textarea {
  width: 80%;
  height: 150px; 
  resize: none;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

.review-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.show-more {
  display: none;
}




/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}